* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
body {
  background: url("./generator.png") no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(20px); /* 在这里设置模糊半径，可以根据需要调整 */
}
:root {
  --hb-color: #07161a; /* 定义变量 */
  --mp-color: rgba(255, 255, 255, 0.8); /* 定义变量 */
}
.s-container {
  position: absolute;
  left: 4.8rem;
  top: 1.8rem;
  z-index: 20;
}
.s-container .s-group {
  font-size: 1.18rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.1);
  line-height: 1.65rem;
}
.s-container .s-xitao {
  font-size: 1.28rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.8rem;
  position: absolute;
  top: 1rem;
}
.s-container .s-line {
  width: 0.4rem;
  height: 0.04rem;
  background: #ffffff;
  position: absolute;
  top: 3.4rem;
}
.s-container .s-gj {
  position: absolute;
  top: 4.06rem;
  font-size: 0.22rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffd156;
  line-height: 0.3rem;
}
.s-card .arrow {
  width: 0.31rem;
  height: 0.09rem;
  background: transparent;
  border-bottom: 1px solid var(--mp-color);
  position: relative;
}
.s-card .arrow::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 0.1rem;
  background-color: var(--mp-color);
  position: absolute;
  right: 0.03rem;
  bottom: -0.02rem;
  transform: rotate(-45deg);
}
.s-card {
  width: 2.8rem;
  height: 3.6rem;
  /* background: #ffd156; */
  position: absolute;
  top: 3.22rem;
  right: 5.6rem;
  z-index: 10;
  padding: 0.7rem 0.3rem 0 0.3rem;
  font-size: 0.16rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 0.26rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.06);
  cursor: pointer;
}
.s-card:hover {
  background: #ffd156;
  color: #07161a;
}
.s-card:hover .arrow {
  border-bottom: 1px solid var(--hb-color);
}
.s-card:hover .arrow::after {
  background-color: var(--hb-color);
}
.s-card .s-title {
  font-size: 0.28rem;
  margin-bottom: 0.16rem;
}
.s-namecard {
  background: rgba(255, 255, 255, 0.06);
  right: 2.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.s-card .s-desc {
  margin-bottom: 0.92rem;
}
.s-card .arrow {
  margin-bottom: 0.07rem;
  cursor: pointer;
  box-sizing: content-box;
}
.s-card .s-location {
  cursor: pointer;
}
.no-wrap {
  white-space: nowrap;
}
